<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div th:fragment="mycommentsFragment" id="mycommentsFragment">
        <style>
            #mycommentsFragment{
                position: relative;
                width: 1000px;
                background-color: #E0ECF8;
                margin-top: 50px;
                left: calc(50% - 500px);
            }


        </style>

        
    <div th:text="${comments}"></div>






    </div>


</body>

</html>